html, body {
  height: 100%;
}

#map__container {
  height: 100%;
}

#btn-zoom {
  position: absolute;
  top: 45px;
  left: 10px;
  z-index: 10;
}

#map__text {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 10;
}
